*{
    max-width: 1440px;
}
/* banner design */
.banner-logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 600;
    ;
}
.banner-btn{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 130px;
    height: 50px;
}
.banner-theme{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-left: 50px;
    padding: 20px;
}
.banner-sign-up{
    display: flex;
    justify-content: space-between;
    align-items: ;
    width: 1200px;
    height: 150px;
}
.banner-last{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    height: 350px;
}
.header{
    background-image: url(Assets/Hero-bg.png);
    width: 100%;
}
/* action ection design */
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-description{
    font-size: 24px;
    color: #252432;
    padding: 10px
    
}
.action-btn{
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.action-img{
    width: 400px;
    height: 350pxpx;
    border-radius: 20px;
}
.action-container{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    width: 1140px;
    height: 350px;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;

}
/* join section design */
.join-section-text{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.join-number{
    font-size: 80px;
    font-weight: bold;
    color:#4E47FF
}
.join-desccription{
    font-size: 20px;
    color: #000000;
}
.join-section-container{
    display: flex;
    justify-content: space-around;
}
.join-section{
    background-color: rgb(164, 203, 228);
    border-radius: 20px;
    margin: 0px auto;
    padding: 20px;
    width: 1140px;
    height: 350px;
     
}
/* review section design */
.review-section-text{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    
}
.stars{
    width: 15px;
    height: 15px;
    color: #FFB805;
    margin-top: 20px;
}
.review-text{
    font-size: 20px;
    color: #252432;
}
.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-container{
    display: flex;
}
.review-section h1{
    
    text-align: center;
    margin-top: 50px;
}
.review-section{
    width: 1140px;
    height: 350px;
    margin-left: 75px;
    padding: 20px;
}
.reviews{
    width: 350px;
    height: 200px;
    background-color:whitesmoke;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 50px;
    padding: 20px;
}
.reviewer{
    display: flex;
    gap: 10px;
}
/* focus section design */
.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus-description{
    font-size: 16px;
    color: #000000;
    margin: 10px;
}
.focus-img{
    width: 500px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 20px;
    
}
.focus-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
    padding: 20px;
    background-color: honeydew;
    width: 1140px;
    height: 500px;
}
.focus-btn{
    width: 200px;
}